.emp-list-body,.no-records {
    height: calc(100vh - (59px + 73.6px));
    overflow-y: auto;
}

.no-records {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emp-list-foot {
    .foot-info {
        font-size: 15px;
        color: #949C9E;
    }
}