.emp-form-group {
    // max-width: 500px;
    // margin-left: auto;
    // margin-right: auto;
    min-height: calc(100vh - (59px + 91.2px));

    .input-group .form-control,.input-group .input-group-text {
        border: 0;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        background-color: transparent;
    }

    .input-group {
        border: 1px solid #E5E5E5;
        padding: 0px;
        border-radius: 4px;
    }

    .input-group .form-control {
        font-size: 16px;
        padding: 12px 4px;
        color: var(--secondary-color);
    }

    .input-group.is-invalid {
        border: 1px solid #FF0000;
    }

    .invalid-feedback {
        color: #FF0000;
    }

    .input-group .form-control.empPlaceholder,
    .input-group .form-control::placeholder {
        color: #949C9E;
    }

    .input-group .form-control.empPlaceholder .styled-option {
        color: var(--secondary-color);
        background-color: transparent;
    }

    .input-group .emp-select-arrow {
        position: absolute;
        top: 15px;
        right: 0px;
    }

    .emp-calendar {
        width: calc(50% - 7%);
    }
}

.emp-form-actions {
    border-top: 2px solid #F2F2F2;
}