<h1 class="text-center" mat-dialog-title>
    Alert
</h1>

<div mat-dialog-content style="min-width: 300px;">
    <p class="text-center">{{message}}</p>
</div>


<div mat-dialog-actions>
    <div class="d-flex justify-content-center w-100">
        <div class="btn-group">
            <button type="button" class="btn btn-theme-secondary me-3 px-3" (click)="onDismiss()">No</button>
            <button type="button" class="btn btn-theme-primary px-3" (click)="onConfirm()">Yes</button>
        </div>
    </div>
</div>